.carouselSection {
  margin-top: 165px;
}
.carousel {
  width: 800px;
}

.carouselAside {
  flex: 1;
}

.carouselCategoryItem {
  width: 100px;
}

.carouselCategoryItemImg {
  width: 45px;
  height: 45px;
}
